* {
  box-sizing: border-box;
}
.row {
  width: 100%;
}
title {
  background-color: green;
  display: block;
  float: right;
  padding: 10px 25px 10px 25px;
}
h1 {
  text-align: center;
}
section {
  padding: 10px;
}
section div {
  background-color: #a52a2a;
}
p {
  margin: 0;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  color: white;
  clear: both;
  padding: 10px;
  overflow: clip;
}

/********** desktop view only **********/
@media (min-width: 992px) {
  .col-dkt-4 {
    float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-tbl-6 {
    float: left;
    width: 50%;
  }
  .col-tbl-12 {
    float: left;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-mbl-12 {
    float: left;
    width: 100%;
  }
}
